body{
  background-image: url(fondo2.jpg);
}

main{
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border: 4px solid #0c4ad1;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0,1) ;
  background-image: url(beis3.jpg);
}

h1{
    text-align: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 30px;
    padding: 50px;
}

img{
   width: 500px;
   object-fit: cover;
   display: flex;
   justify-content: center;
   text-align: center;
}


section{
    display: flex;
    background-color: wheat;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    column-gap: 32px;
    
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    background-color: wheat;
    width: 500px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section h1{
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border: 4px solid #0c4ad1;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0,1) ;
  background-image: url(beis3.png);
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 400px){}
@media (min-width: 500px){}
@media (min-width: 600px){}
@media (min-width: 700px){}
@media (min-width: 800px){}
@media (min-width: 900px){}